@import url("../css/awesome.css");
* {
    margin: o;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    max-width: 1170px; 
    margin: auto;
    padding: 0 15px;
}
.title {
    color: #212121;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0 0 34px;
}