.section {
    width: 100%;
    padding: 80px 0 116px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.line {
    border: 1px solid #E72424;
    width: 64px;
    margin: 0 auto 34px;
}
.subtitle {
    text-align: center;
    font-size: 14px;
    color: #86878B;
    margin-bottom: 68px;
}
.card {
    width: 350px;
}
.card__img {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    margin: 0 auto 30px;
    border-radius: 50%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card__title {
    text-align: center;
    font-size: 20px;
    color: #333333;
    margin-bottom: 16px;
}
.card__text p {
    font-size: 14px;
}
